.navbar-brand {
    background-color: teal;
    color: white !important;
    width: 20%;
    margin-left: 270px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 200px;

}

.navbar-nav{
    margin-left: 450px;

}

.nav-item{
    border-right-style: solid;
    border-right-color: lightgray;

}

h4{
    border-bottom: 5px solid lightgray;
    margin-bottom: 10px;
    margin-top: 20px;
    color: teal;
    padding-bottom: 20px;
    font-weight: bold;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body{
    background-image: url("../images/memphis-mini.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    font-weight: 200px
}

.container{
    background: white;
    width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.card-footer {
    text-align: center;
    background: gray;
    border-top: 10px solid teal;
    color: white !important;
}

.btn {
    background-color: teal;
    color: white;
}